html{
    background-image: url(images/samu.png);
    height: 100%
}
body{
    text-align: center;
    width: 800px;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 40px;
    position: relative;
    background:rgb(119, 117, 117);;
    box-shadow: black 0 2px 5px 0;
}

.bandeira{
    margin-left: 95px;
}

.pokeball{
    margin-left: 330px;
}

body ul{
    text-align: left;
    margin-left: 200px;
}

body table{
    margin-left: auto;
    margin-right: auto;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    background-color: rgb(243, 198, 198);
    text-align: center;
    margin-left: 25%;
  }

  td, th {
    border: 1px solid #000000;
    text-align: center;
    padding: 8px;
  }

  table caption {
      padding: 20px;
  }

body header{
    margin: auto;
    background-color:rgb(119, 117, 117);
    width: 800px;
    padding: 5px;
}

body main{
    background-color:rgb(228, 169, 169);
    margin: auto;
    width: 800px;
}

header ~ main {
    margin: auto;
    width: 800px;
}

body aside{
    background-color:rgb(228, 169, 169);
    margin: auto;
    width: 800px;
    font-weight: normal;
}
  
main + footer {
    margin: auto;
    width: 800px;
}

body footer{ 
    background-color:rgb(119, 117, 117);
    padding:2px;
    width: 800px;
    text-align: right;
    font-weight: bold;
}

body nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:auto;
    padding:0;
    text-align:center;
    background-color: #333;
    width: 800px;
}

body nav p{
    display:inline;
    color:white;
}
body nav a{
    display:inline-block;
    padding:10px;
    color:rgb(255, 255, 255);
}

body nav p a:hover {
    background-color: #111;
  }

body nav p a:link {
    color: rgb(255, 255, 255);
}
  
body nav p a:visited {
    color: rgb(228, 169, 169);
}
  
body nav p a:active {
    color: rgb(255, 255, 255);
}
  
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#Intro::first-letter {
    color: rgb(0, 0, 0);
    font-size: 50px;
}

#Intro::first-line {
    font-weight:bold
}
  


