html{
    background-image: url(images/video6.gif);
    background-size: cover;
    background-attachment: fixed;
    height: 100%
}

body{
    text-align: center;
    width: 800px;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 40px;
    position: relative;
    background:rgba(142, 90, 163, 0.699);
    box-shadow: black 0 2px 5px 0;
}

.bandeira{
    margin-left: 95px;
}

.pokeball{
    margin-left: 165px;
}

body ul{
    text-align: left;
    margin-left: 200px;
}

body table{
    margin-left: auto;
    margin-right: auto;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    background:rgba(240, 179, 235, 0.658);
    text-align: center;
    margin-left: 25%;
  }

  td, th {
    border: 1px solid #000000;
    text-align: center;
    padding: 8px;
  }

  table caption {
      padding: 20px;
  }

body header{
    margin: auto;
    background:rgba(153, 184, 189, 0.63);
    padding: 5px;
}

h1{
    color: white; 
    text-shadow: black 0 5px 5px;
    font-size: 40px;
}

body main{
    background:rgba(153, 184, 189, 0.63);
    margin: auto;
}

header ~ main {
    margin: auto;
}

body aside{
    margin: auto;
    font-weight: normal;
}

body footer{ 
    background:rgba(153, 184, 189, 0.63);
    padding:2px;
    text-align: right;
    font-weight: bold;
    margin: auto;
}

body nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:auto;
    padding:0;
    text-align:center;
    background-color: rgb(33, 33, 56);
}

body nav p{
    display:inline;
    color:white;
}
body nav a{
    display:inline-block;
    padding:10px;
    color:rgb(255, 255, 255);
    text-decoration: none;
}

body nav p a:hover {
    background-color: #111;
  }

body nav p a:link {
    color: rgb(255, 255, 255);
}
  
body nav p a:visited {
    color: rgb(241, 157, 234);
}
  
body nav p a:active {
    color: rgb(255, 255, 255);
}

#Intro::first-letter {
    color: rgb(0, 0, 0);
    font-size: 50px;
}

#Intro::first-line {
    font-weight:bold
}

.parent {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-column-gap: 20px;
}

nav.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.div1 { grid-area: 1 / 1 / 2 / 3;}
.div2 { grid-area: 2 / 1 / 3 / 2; }
.div3 {
        grid-area: 2 / 2 / 3 / 3;
        background:rgba(153, 184, 189, 0.63);
        margin-top: 0;
        margin-bottom: auto;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
     }
.div4 { grid-area: 3 / 1 / 4 / 3;}

.line{
    position: flex;
    flex-direction: row;
    justify-items: center;
}


.wave {
    float: left;
    margin: 20px;
    animation: wave  ease-in-out 0.5s infinite alternate;
    transform-origin: center -20px;
  }
  
  .wave:hover {
    animation-play-state: paused;
  }
  
  .wave img {
    border: 5px solid rgb(119, 117, 117);;
    display: block;
    width: 150px;
    height: 150px;
    margin-left: 20px;
  }
  
  .wave figcaption {
    text-align: center;
  }
  
  .wave:after{
    content: '';
    position: absolute;
    width: 20px; 
    height: 20px;
    border: 1.5px solid rgb(119, 117, 117);
    top: -10px; 
    left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
  }
  
  .wave:before{
    content: '';
    position: absolute;
    top: -23px;
    left: 50%;
    display: block;
    height: 44px;
    width: 47px;
    background-image: url(https://cdn.hashnode.com/res/hashnode/image/upload/v1602040503586/FW6g79WBY.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    z-index: 16;
  }

  .gray {
    filter: grayscale(1);
    filter: gray;
    -webkit-filter: grayscale(1);
  }

  .gray:hover {
    filter: none;
    -webkit-filter: none;
  }
  
  @keyframes wave {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
  }


